.messages-container {
  position: relative;
  color: black;
  border: 2px solid black;
}

.messages-container .room-header {
  font-size: 40px;
  text-align: center;
}

.messages-container .repeated {
  background-color: rgba(197, 221, 246, 1);
  padding: 20px;
  border: 1px solid black;
}

.messages-container .repeated .message-content {
  clear: left;
}

.messages-container .repeated .username {
  float: left;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 1rem;
}

.messages-container .repeated .time {
  float: right;
  font-size: 0.5rem;
}

.text-bar {
  position: relative;
  z-index: 100;
  border: 2px solid pink;
}

.text-bar .message-field {
  position: relative;
  width: 92%;
  color: black;
}

.text-bar .send {
  position: relative;
  color: red;
}
