.landing {
  position: fixed;
  right: 0;
  height: 100%;
}

.hero-content {
  position: relative;
  min-height: 200px;
  z-index: 0;
}

.hero-content .hero-title {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #0000FF;
  text-shadow: 1px 1px 0px rgb(58,23,63);
}

.instructions {
  position: relative;
  padding: 2rem;
  text-align: center;
  opacity: 1;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
}

.point {
  font-size: 2rem;
  color: black;
}

.ion-chatbubbles {
  color: #0000FF;
  font-size: 5rem;
}
