*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
    min-height: 100%;
    font-size: 100%;
    border: 2px solid orange;
}

body {
    background-color: rgba(207, 207, 207, 1);
    font-family: "Open Sans";
    color: black;
    min-height: 100%;
}

.navbar {
    position: relative;
    padding: 1rem;
    background-color: rgba(242, 242, 242, 0.1);
    z-index: 2;
    border: 2px solid red;
    margin: 0;
}

.navbar .logo {
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
    left: 0.5rem;
    cursor: pointer;
}

.navbar .links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  color: white;
  text-decoration: none;
}

.links-container .navbar-link {
  display: table-cell;
  position: relative;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: middle;
  color: black;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.links-container .navbar-link:hover {
  color: #FF0000;
}

.content-container {
  display: table;
  border: 2px solid green;
  height: 100vh;
}

.column {
  float: left;
  display: table-cell;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }


/* Medium and small screens (640px) */
@media (min-width: 640px) {
  html { font-size: 112%; }
}

/* Large Screens (1024px) */
@media (min-width: 1024px) {
  html { font-size: 120%; }
}
