<ng-include src="'templates/sidebar.html'"></ng-include>

<section class="messages-container clearfix column two-thirds">
  <h1 class="room-header" ng-click="chatroom.checkRoom()">{{ chatroom.currentRoomName }}</h1>
  <div ng-repeat="message in chatroom.messages" class="repeated">
    <p class="username">{{ message.username }}</p>
    <p class="time">{{ message.sentAt | date: "MMM d, y h:mm a" }}</p>
    <p class="message-content">{{ message.content }}</p>
  </div>
</section>

<section class="text-bar clearfix column two-thirds">
  <form ng-submit="chatroom.send(message); chatroom.reload()">
    <input type="text" class="message-field" ng-model="message">
    <button class="send" ng-click="chatroom.send(message); chatroom.reload()">SEND</button>
  </form>
</section>
